# Tell GitHub Linguist to treat this folder as source
spotify-frontend/src/**/* linguist-detectable=true

# Explicitly mark file types
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.css linguist-language=CSS

# Ignore large or irrelevant folders
spotify-frontend/node_modules/ linguist-vendored
spotify-frontend/build/ linguist-vendored
spotify-frontend/public/ linguist-vendored
